<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>


<body>
    <form action="/add-product" method="post">
        <h1>Add a New Product</h1>
        <h2>Name</h2>
        <input type="text" name="pname" id="pname" placeholder="Product name" required>
        <h2>Price</h2>
        <input type="text" name="price" id="price" placeholder="Product price" required>
        <h2>Description</h2>
        <textarea name="desc" id="desc" placeholder="Description" required></textarea>
        <button type="submit">Add New Product</button>
    </form>


</body>


</html>
